
@use '../core/variables' as vars;

.button {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 10rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    background-color: vars.$primary-color;
    font-family: vars.$text-font;
    font-size: 1rem;;
    text-align: center;
    align-items: center;
    color: vars.$light-color;
    cursor: pointer;
}