
//Evitar overflow y quitar márgenes-paddings por defecto de navegadores
html, body { height: 100%; margin: 0; overflow-x: hidden; }
*, *::before, *::after { box-sizing: border-box; }
img { display: block; max-width: 100%; height: auto; }

//Igualar 1px=1rem (o algo así)
body {
  font-size: 62.5%;
}

//Quitar márgenes por defecto de listas de navegación
nav ul {
 list-style: none;
    margin: 0;                        
    padding: 0;                      
    text-align: center;
}