// COLORS
$primary-color: #5d50c6;
$secondary-color: #f85e9f;
$dark-color: black;
$medium-color: #19182580;
$light-color: white;

//FONTS

$text-font: 'Roboto', 'Arial';

//FONTS-SIZES

$first-title-style: 6.9rem;
$first-title-style-mobile: 4rem;
$second-title-style: 4.4rem;
$third-title-style: 2.3rem;
$logo-title-style: 2rem;
$text-style: 1.8rem;
$small-text: 1.4rem;
$footer-text: 0.8rem;

//FONT-WEIGHT: 
$title-weight: 700;
$big-weight: 900;

//BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;