// COLORS
$primary-color: ;
$secondary-color: ;
$dark-color: ;
$light-color: ;

//FONTS

$text-font: 'Roboto', 'Helvetica', 'sans-serif';

//FONTS-SIZES

$first-title-style: 3rem;
$second-title-style: 2rem;
$text-style: 1rem;
$small-text: 0.8rem;

//FONT-WEIGHT: 
$text-weight: 300;
$title-weight: 900;

//BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;