// COLORS
$primary-color: #5d50c6;
$secondary-color: #f85e9f;
$dark-color: black;
$medium-color: #19182580;
$light-color: white;
$background-contact: #facd4914;

$bright-color: #ff5722;
$border-color: #1918251A;
$background-color: #fff; 


$color-yellow: #FACD49;
$color-orange: #FF5722;
$color-drkgr: #272731;
$background-city: #fee8f1;
$background-city2: #fdbcd7;



//FONTS

$text-font: 'Roboto', sans-serif;
$city-font2: 'Roboto Slab', serif;


//FONTS-SIZES

$first-title-style: 6.9rem;
$first-title-style-mobile: 4rem;
$second-title-style: 4.4rem;
$third-title-style: 2.3rem;
$logo-title-style: 2rem;
$text-style: 1.8rem;
$small-text: 1.2rem;
$footer-text: 0.8rem;

//FONT-SIZE/servicios
$regular: 1rem;
$regular15: 1.15rem;
$regular3: 1.3rem;
$regular5: 1.5rem;
$big4: 2.4rem;
$big6: 2.6rem;
$big8: 2.8rem;

//FONT-SIZE/ciudades
$bigger: 3rem;
$bigger5: 3.5rem;
$huge: 4rem;
$huge5: 4.5rem;


//FONT-WEIGHT: 
$title-weight: 700;
$big-weight: 900;

//BREAKPOINTS
$tablet: 768px;
$desktop: 1200px;