@use '../core/variables' as vars;

.page__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    
    @media (min-width: vars.$tablet) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 4rem;
            padding-right: 4rem;
    }


    @media (min-width: vars.$desktop) {
        inline-size: min(100%, 1000rem); 
        margin-inline: auto;
        }

    .footer__logos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            top: 0;
            width: auto;
            gap: 1rem;


        .logo__img {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            margin: 0; 
            padding: 0;
            top: 0;
            

                .logo-img__img {
                    display: inline-block;
                    width: 1.5rem;
                    margin: 0;
                }

                .logo__title {
                font-family: vars.$text-font;
                font-size: vars.$footer-text;
                font-weight: vars.$big-weight;
                margin: 0;
       
            }
        }

            .footer-logos__ssnn {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;
                cursor: pointer;
                gap: 0.8rem;

            
                .logos-ssnn__img {
                    width: 1.6rem;
                    filter: brightness(0) saturate(100%) invert(31%) sepia(29%) 
                    saturate(1248%) hue-rotate(223deg) brightness(90%) contrast(110%);
                }
            }
        }

        .footer__nav {
            display: none;

            @media (min-width: vars.$desktop) {
                display: flex;
                flex-direction: column;
                align-items: center;      
                justify-content: center;  
                gap: 1rem;                
                }

            .footer-nav__list {
                display: flex;
                flex-direction: column;
                align-items: center; 
                gap: 0.8rem;   
                list-style: none;
                margin: 0;
                padding: 0;
                }

            .footer-nav__items {
                font-family: vars.$text-font;
                font-size: vars.$footer-text;
                letter-spacing: 0.05em;
                cursor: pointer;

                .nav-items__items {
                    text-decoration: none;
                    }

                &:visited {
                    color: vars.$medium-color; 
                    }
                
                &:hover {
                    color: vars.$secondary-color;
                    transition: color 0.3s ease;
                    transform: scale(1.1);
                    }
                }
            }
        
    
    .footer__adalab {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .adalab__img {
            display: inline-block;
            width: 5rem;
            margin: 0;
            }

        .adalab__copyright {
            font-family: vars.$text-font;
            font-weight: 300;
            margin: 0;
            }
        }
    } 
