.servicios {
    // box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    

&__imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    
    img {
        width: 90%;
        height: auto;
        
    }   
}

&__texto {
    text-align: center;
    margin-bottom: 40px;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: #F85E9F;
        font-weight: 700;
        padding-bottom: 10px;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 2.4rem;
    }
}

&__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: left;
        box-sizing: border-box;
        max-width: 400px; 
        margin-bottom: 40px;
        
        h4 {
            font-family: 'Roboto', sans-serif;
            font-size: 1.15rem;
            font-weight: 900;
            padding: 10px 0;
            }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            color: gray;
        }
        

        &__uno {
            display: flex;
            flex-direction: column;
            padding-left: 25px;
            margin-bottom: 40px;

            img {
                width: 5rem;
                height: auto;
                background-color: #FF5722;
                object-fit: contain;
                padding: 16px;
                border-radius: 30%;
                margin-bottom: 10px;
            }

        }

        &__dos {
            display: flex;
            flex-direction: column;
            border: 1.2px solid lightgray;
            border-radius: 25px;
            padding: 25px;
            margin-bottom: 40px;

            img {
                width: 5rem;
                height: auto;
                background-color: #FACD49;
                object-fit: contain;
                padding: 16px;
                border-radius: 30%;
                margin-bottom: 10px;
            }
        }

        &__tres {
            display: flex;
            flex-direction: column;
            padding-left: 25px;
            margin-bottom: 40px;

            img {
                width: 5rem;
                height: auto;
                background-color: #F85E9F;
                object-fit: contain;
                padding: 16px;
                border-radius: 30%;
                margin-bottom: 10px;
            }
        }

    }
    


}

}