@use '../core/variables' as vars;

.servicios {
    // box-sizing: content-box;
    display: flex;
    flex-direction: column;
    // align-items: left;
    gap: 1rem;
    margin-top: 2rem;
    

&__imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    
    img {
        width: 90%;
        max-width: 23.68rem;
        height: auto;
        
    }   
}

&__titular {
    text-align: center;
    margin-bottom: 1rem;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: vars.$secondary-color;
        font-weight: 700;
        padding-bottom: 0.5rem;
        margin: 0;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 2.4rem;
        margin: 0.75rem;
    }
}

&__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: left;
        box-sizing: border-box;
        max-width: 25rem; 
        margin-bottom: 2.5rem;

        .textoint {
            font-family: 'Roboto', sans-serif;

                h4 {
                font-size: 1.15rem;
                font-weight: 900;
                margin: 0.6rem 0;
            
                }

                p {
                font-size: 1rem;
                color: gray;
                line-height: 1.5;
                margin: 0.6rem 0;
                }
        }

        .dibujo {
            display: inline-flex;
            width: 5.5rem;
            height: 5.5rem;
            margin-bottom: 0.5rem;
            object-fit: contain;            
        }

     &__uno {
        padding-left: 1.56rem;
        margin: 1.56rem 0;
        
        
         img {
                background-color: #FF5722;
                border-radius: 30%;
                padding: 1rem;       
            }
     }  
     
    &__dos {
        margin: 1.5rem 0;
        border: 1.2px solid lightgray;
        border-radius: 1.56rem;
        padding: 1.56rem;

        img {
            background-color: #FACD49;
            border-radius: 30%;
            padding: 1rem; 

        }
     }
    
    &__tres {
        padding: 1.56rem;
        margin: 1.56rem 0;


        img {
            background-color: #F85E9F;
            padding: 1rem;
            border-radius: 30%;

        }
    }

    }
}


}

//tablet

@media all and (min-width: vars.$tablet) {
    .servicios {
        display: grid;
        margin: 2rem 0.62rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1rem;


        &__titular {
        grid-column: 1;
        grid-row: 1;
        padding-left: 2.5rem;
        text-align: left;
        margin-bottom: 0;
        // margin-bottom: 1rem;

        p {
            font-size: 1.2rem;
        }

        h2 {
            font-size: 2.6rem;
            margin: 0;
        }

        }

        &__contenido {

            .card {
                max-width: 50rem; 

                .textoint {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 1rem;

                        h4 {
                        font-size: 1.2rem;
                        margin: 0rem 0;
                        }

                        p {
                            font-size: 1.1rem;
                            margin: 0;
                        }

                }
                
                .dibujo {
                    width: 6rem;
                    height: 6rem;
                    // display: inline-flex;
                    // object-fit: contain;
                    align-items: center;
                    justify-content: center;

                    img {
                        
                        width: 100%;
                        height: auto;
                        
                    }
                }

                // .imagen {
                //     margin-bottom: 0;
                //     width: 5.6rem;
                //     height: auto;
                //     object-fit: contain;
                //     padding: 1rem;
                //     border-radius: 30%;
                //     // margin-bottom: 0rem;
                // }
               
            &__uno {
                display: grid;
                grid-template-columns: 0.75fr 2.25fr;
                align-items: center;
                margin-bottom: 1.5rem;
                                          
               }

            &__dos {
                display: grid;
                grid-template-columns: 0.75fr 2.25fr;
                align-items: center;
                margin-bottom: 1.5rem;
               
               }

            &__tres {
                display: grid;
                grid-template-columns: 0.75fr 2.25fr;
                align-items: center;
                margin-bottom: 1.5rem;
               
               }

            }


        }

        &__imagen {
            grid-column: 2;
            grid-row: 1 / span 2;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

        }

    }
}

//desktop
@media all and (min-width: vars.$desktop) {




    
}