////mobile first/////


@media all and (min-width: 430px) {

    .girlpicture { 
        
        margin: 0 50px; 

    }
}

@media all and (min-width: 4850px) {
    .girlpicture {

        max-width: 870px;
        margin: 0 auto;

 }
}