@use '../core/variables' as vars;


.container_travel {
     
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 10px;
            left: 20px;
            padding-right: 3rem;
            

}


.travel {

            font-family: vars.$text-font;
            font-size: 23px;
            color: #f85e9f;
            text-align: left;
            font-weight: bold;
            height: 28px;
            letter-spacing: 4.6px;
            

}

.second-text {

            font-family: vars.$text-font;
            font-size: 27px;
            font-weight: bold;
            align-self: stretch;


}

.statscontainer {

                display: grid;
                grid-template-columns: (1fr 1fr);
                grid-auto-rows: 5rem;
                margin: 5%;
                gap: 1rem;
               

}

.firstcard { 
            
            height: 151px;
            width: 185px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 3px;
            border-radius: 32px;
            border: 1px solid #1918251A;
            background-color: #fff;
            
}


.number1 {

            width: 80px;
            height: 42px;
            font-family: vars.$text-font;
            font-size: 35px;
            font-weight: bold;
            text-align: left;
            color: #ff5722;

}

.party {
            margin-top: -15%;
            width: 61px;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: normal;
            letter-spacing: normal;   


}


.secondcard {

            height: 151px;
            width: 185px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 3px;
            border-radius: 32px;
            border: 1px solid #1918251A;
            background-color: #fff;



}

.number2 {

            width: 80px;
            height: 42px;
            font-family: vars.$text-font;
            font-size: 35px;
            font-weight: bold;
            text-align: left;
            color: #ff5722;

}

.hotel {

            margin-top: -15%;
            width: 66xpx;
            height: 10px;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: normal;
   

}


.hidetext {

             @media (max-width: vars.$desktop) {

            display: none;


    }
              
}