////mobile first/////


@media all and (min-height: 430px) {
    .hidetext {

            display: inline;
        

 }
}

.container_travel {
     
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

}

