<footer class="page__footer">
  <section class="footer__logos">
      <figure> 
        <img src="images/logo.png" alt="" aria-hidden="true">
      </figure>
      <h3 class="logo__title">Ada Travel</h3>
      <div class="footer-logos__ssnn">
        <a href="www.facebook.com"> 
          <img src="images/facebook.png" alt="" aria-hidden="true">
        </a>
        <a href="www.x.com"> 
          <img src="images/x.png" alt="" aria-hidden="true">
        </a>
        <a href="www.instagram.com"> 
          <img src="images/instagram.png" alt="" aria-hidden="true">
        </a>
      </div>
  </section>
  <nav class="footer__nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__items">Home</li>
        <li class="footer-nav__items">Nosotros</li>
        <li class="footer-nav__items">Contacto</li>
      </ul>
    </nav>
</footer>
