<header class="page__header">

  <section class="header__nav-bar">
    <div class="header-nav-bar__logo">
      <a href=""> <!--Enlace a la página principal??-->
        <img src="images/logo.png" alt="" aria-hidden="true">
      </a>
      <h3 class="logo__title">Ada Travel</h3>
    </div>

    <nav class="header-nav-bar__nav">
      <ul>
        <li><a class="nav__option">Home</a></li>
        <li><a class="nav__option">Precios Especiales</a></li>
        <li><a class="nav__option">Contáctanos</a></li>
      </ul>
    </nav>

    <figure class="header__hamburger">
      <button>
        <img src="images/menu.png" alt="" aria-hidden="true">
      </button>
    </figure>
  </section>

  <section class="header__hero">
      <div class="header-hero__title">
        <h1 class="hero-title__title">Viajes top destinos del mundo</h1>
        <buttom class="buttom" href="#topdestinos">Ver más</buttom> <!--Enlazar a sección top destinos-->
      </div>

      <figure class="header-hero__img">
        <img class="hero-title__img" src="images/5.png" alt="people travelling">
      </figure>
  </section>

</header>
