<header class="lcn__hero">
    <h1>Top destino número 2: <span>Lucena</span></h1>
    <img src="images/lucena-hero.png" alt="">
</header>

<section class="lcn__info">
    <!-- <div class="lcn-grilla"> -->
        <p class="lcn__parr1">Lucena, conocida como la “Perla de Sefarad”, se sitúa en el sur de la provincia de Córdoba y destaca por su historia marcada por la convivencia de culturas musulmana, cristiana y judía. En la Edad Media fue un importante centro hebreo y un referente artesanal y comercial.<p>
        <!-- <figure> -->
            <img class="lcn__foto1" src="images/Lucena-SanMateo.jpg" alt="Sagrario de la parroquia de San Mateo.">
        <!-- </figure> -->
        <p class="lcn__parr2">Entre sus monumentos sobresale el Castillo del Moral, antigua prisión de Boabdil y actual Museo Arqueológico, y la Parroquia de San Mateo, con un sagrario barroco considerado una joya artística. También es especialmente relevante la Necrópolis Judía, una de las más grandes y mejor conservadas de España.</p>
        <!-- <figure> -->
            <img class="lcn__foto2" src="images/Lucena-necropolis.jpg" alt="Necrópolis judía.">
        <!-- </figure> -->
        <p class="lcn__parr3">Pasear por su casco histórico es descubrir calles blancas, plazas animadas y una profunda herencia sefardí. Lucena forma parte de la Ruta del Barroco Cordobés, con templos y palacios de gran valor, y ofrece una rica gastronomía basada en el aceite de oliva, el vino Montilla-Moriles y dulces tradicionales.<br>En conjunto, Lucena es una ciudad llena de historia, cultura y encanto, ideal para disfrutar con calma.</p>
    <!-- </div> -->
    </section>

    <section class="lcn__sobremi">
        <h1>Sobre <span>mí</span> </h1>
    <div class="apartado">
        <p>¡Hola! Soy Maddie, lucentina desde hace 32 primaveras (o veranos, que aquí no tenemos otra cosa). Después de haber vivido fuera varios años, puedo decir sin riesgo a equivocarme que, como en casa, en ningún sitio. Si quieres pasear por calles bonitas, charlar con gente agradable y comer rico, no dudes en darte una vuelta por mi pueblo.</p>
        <!-- <figure> -->
            <img class="lcn__foto3" src="images/chica.jpg" alt="">
        <!-- </figure> -->
    </div>
    </section>

    <section class="otrasciudades">
        <p>¿Te interesan otros destinos? Echa un ojo a estos:</p>
    </section>
