<section class="section-one">
            <figure class="girlpicture">
                <img src="/images/6.png" alt="travel girl">
            </figure>
<div class="travel">
                 <p>TRAVEL POINT</p>
            </div>

<div class="second-text">
                 <h1>Lorem ipsum, catt oiyhgr hklop</h1>
             </div>

<div class="stats-container">
        <div class="firstcard">
                <h2>500+</h2>
                <p>Fiestas</p>
            </div>
         <div class="secondcard">
                <h2>100</h2>
                <p>Hoteles de lujo</p>
        </div>
</div>


</section>