<section>
    <div class="container-top-destination">
        <h3 class="title"> TOP DESTINATION</h3>
        <div class="container-image">
            <figure class="image">
                <a href="#"><img src="images/3.png" alt="imagen-beach"></a>
                <div class="container-img-from">
                    <p class="from">Lucena</p>
                    <p class="name">Maddie</p>
                </div>
            </figure>
            <figure class="image">
                <a href="#mallorca.html"><img class="mallorca" src="images/mallorca.jpeg" alt="imagen-mallorca"></a>
                <div class="container-img-from">
                    <p class="from">Mallorca</p>
                    <p class="name">Nidia</p>
                </div>
            </figure>
            <figure class="image">
                <a href="#"><img src="images/2.png" alt="imagen-montain"></a>
                <div class="container-img-from">
                    <p class="from">Gijon</p>
                    <p class="name">Cristina</p>
                </div>
            </figure>
            <figure class="image">
                <a href="#"><img src="images/2.png" alt="imagen-montain"></a>
                <div class="container-img-from">
                    <p class="from">Sevilla</p>
                    <p class="name">Yiyi</p>
                </div>
            </figure>
        </div>      
    </div>
</section>