<section>
    <div class="container-top-destination">
        <h3 class="title"> TOP DESTINATION</h3>
        <figure class="image">
            <a href="#"><img src="images/3.png" alt="imagen-beach"></a>
            <p class="price">$550.16</p>
            <p class="name">Lorem</p>
        </figure>
        <figure class="image">
            <a href="#"><img src="images/4.png" alt="imagen-fish"></a>
            <p class="price">$20.99</p>
            <p class="name">Lorem</p>
        </figure>
        <figure class="image">
            <a href="#"><img src="images/2.png" alt="imagen-montain"></a>
            <p class="price">$150.99</p>
            <p class="name">Lorem</p>
        </figure>
        <figure class="image">
            <a href="#"><img src="images/2.png" alt="imagen-montain"></a>
            <p class="price">$150.99</p>
            <p class="name">Lorem</p>
        </figure>      
    </div>
</section>