@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'components/button';
@use 'layout/page';
@use 'layout/header';
@use 'layout/section1';
@use 'layout/section2';
@use 'layout/section3';
>>>>>>>>> Temporary merge branch 2
@use 'layout/footer';
@use 'pages/index';
